<a href="https://colab.research.google.com/github/hyojinjin/NLP_2023/blob/main/2_FiveTypesofData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ğŸ¹ ğŸ¾  Five Types of Data
        Number(ìˆ«ì), String(ë¬¸ìì—´), List(ë¦¬ìŠ¤íŠ¸), Tuple(íŠœí”Œ), Dictionary(ì‚¬ì „)

Variables can be either a number or a sequence.     

1ï¸âƒ£ Numbers can be either integers, floats, or imaginary numbers.
- interger ì •ìˆ˜ : -100, -30, -11, 0, 1, 5, 100, 302, etc.
- float ì‹¤ìˆ˜ : -100.0, -30.0, -11.0, 0.0, 0.1, 2.4, 100.32, etc.
- complex ë³µì†Œìˆ˜: 1 + 5j
      ('j' represents imaginary numbers í—ˆìˆ˜)

2ï¸âƒ£ Three types of seqeunce data

ğŸ…°ï¸ <font color='red'> String </font> data are non-numerical data. It is indicated by a pair of either double quotations or single quotations.
- "a", "b", "c"
- 'a', 'b', 'c'
- "042114" (cf., 042114)
- "I love Sam's pencil case"

ğŸ…±ï¸ Data can be consecutively connected. The <font color='red'> list</font>-stle-type data is most common. If consecutively connected elements are protected from a modification, we especially call it a <font color='red'> tuple</font>-style-type.

- i) <font color='red'> List</font>: A list is indicated by a pair of square brackets [ ].
      ['a', 'abc', 1, '911', 'I love Python']

- ii) <font color='red'> Tuple</font>: A tuple is indicated by a pair of brackets ( ).
      ('a', 'abc', 1, '911', 'I love Python')

ğŸ‘€ Be aware that elements in a list/tuple can be numbers, strings, dictionaries, or embeded lists/tuples of any kind. Note that elements in a tuple cannot be modified but protected under no circumstances.

- [1, 'a', 'bananas', 'berries','3.14']  
- [{'Earth': 14725000000, 'Mars': 23934000000}, [1, 2, 3], ['b', '042-114', 'I like apples'], (100, 200, 300)]

3ï¸âƒ£ A paired data with a matched <font color='blue'>key - value</font> set is called <font color = 'red'> dictionary <font/>.
- {'a':'A', 'b':'B', 'c':"C'}
- {'a':1, 'b'':2, 'c':3}
- {'d':4}

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Numbers</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown ğŸ“ª Assign 1 to variablea.


a = 1
print (a)

1

In [ ]:
a=1

In [ ]:
#@markdown âš¡ Assign 2 to a variable b.
b = 2
print (b)

2

In [ ]:
c=3
print(c)

3

In [ ]:
b=2
print(b)

2

In [ ]:
#@markdown ğŸ“Œ Use a print function and a Boolean operator +
print(a + b)

3

In [ ]:
print(a+b)

3

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'> Strings</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown ğŸ“Œ Assign a string to a variable c

c = "I love Python"
print (c)

I love Python

In [1]:
c="I love you"
print(c)

I love you

In [ ]:
c="I love you"
print(c)

I love you

In [ ]:
c="I love python"
print(c)

I love python

In [ ]:
thing="I love Sam's Pencil Case?"
print(thing)

I love Sam's Pencil Case?

In [ ]:
thing="I love Sam's pencil case?"
print(thing)

I love Sam's pencil case?

In [ ]:
#@markdown ğŸ“Œ To assign valid variable names
a = 'Lori'
_b = 'Sam'
a_b = 'Ken'
c_d = 'Jen'

a = 'Emma' # Be aware that variable a is used two times!

In [ ]:
a='Lori'
_b='Sam'
a_b='Ken'
c_d='Jen'

In [2]:
a="Lori"
b="sam"
c="sori"

In [ ]:
from IPython.terminal.embed import EmbeddedMagics
a='Lori'
print(a)
b='Sam'
print(b)
a_b='Ken'
print(a_b)
c_d='Jen'
print(c_d)

a='Emma'
print(a)

Lori
Sam
Ken
Jen
Emma

In [ ]:
print(a)

Emma

In [ ]:
#@markdown ğŸ“Œ More on printing variables
a = 'Lori'
print(a)

_b = 'Sam'
print(_b)

a_b = 'Ken'
print(a_b)

c_d = 'Jen'
print(c_d)

a= 'Emma'
print(a)          #â° Remember the latest varialbe is printed if there is a redundant varialbe name.

Lori
Sam
Ken
Jen
Emma

In [ ]:
a='lori'
print(a)
_b='Sam'
print(_b)
a_b='Ken'
print(a_b)
c_d='Jen'
print(c_d)

lori
Sam
Ken
Jen

In [ ]:
#If a variable name assinged with different values is repeated more than once, the most recent one matters.

print (a) #Be aware that variable a is 'EMMA', not 'Lori.'

Emma

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Lists</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown ğŸ“Œ Assign lists to variables such as d, e, f.

d = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"] #Names of planets
e = ["ìˆ˜ì„±", "ê¸ˆì„±", "ì§€êµ¬", "í™”ì„±", "ëª©ì„±", "í† ì„±", "ì²œí™©ì„±", "í˜œì™•ì„±" ] #í–‰ì„± ì´ë¦„
f = [1,2,3,4,5,6,7,8,9,10]

print (d)
print(e)
print (f)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['ìˆ˜ì„±', 'ê¸ˆì„±', 'ì§€êµ¬', 'í™”ì„±', 'ëª©ì„±', 'í† ì„±', 'ì²œí™©ì„±', 'í˜œì™•ì„±']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
d=['Mercury','venus','earth','mars','jupiter','saturn,uranus','neptune']
e=['ìˆ˜ì„±''ê¸ˆì„±','ì§€êµ¬','í™”ì„±','ëª©ì„±','í† ì„±','ì²œí™©ì„±','í˜œì™•ì„±']
f=[1,2,3,4,5,6,7,8,9,10]

print(d)
print(e)
print(f)

['Mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn,uranus', 'neptune']
['ìˆ˜ì„±ê¸ˆì„±', 'ì§€êµ¬', 'í™”ì„±', 'ëª©ì„±', 'í† ì„±', 'ì²œí™©ì„±', 'í˜œì™•ì„±']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
k = {"Mercury":"ìˆ˜ì„±", "Venus":"ê¸ˆì„±", "Earth":"ì§€êµ¬", "Mars":"í™”ì„±", "Jupiter":"ëª©ì„±", "Saturn":"í† ì„±", "Uranus":"ì²œí™©ì„±", "neptune":"í˜œì™•ì„±"}
print(k)

M={'Mercury ìˆ˜ì„±':1, 'Venus ê¸ˆì„±':2, 'Earth:ì§€êµ¬':3, 'Mars í™”ì„±':4, 'Jupiter ëª©ì„±':5, 'Saturn í† ì„±':6, 'Uranus ì²œí™©ì„±':7, 'neptune í˜œì™•ì„±':8}
print(M)
dict={'a':1,'b':2,'c':3}

{'Mercury': 'ìˆ˜ì„±', 'Venus': 'ê¸ˆì„±', 'Earth': 'ì§€êµ¬', 'Mars': 'í™”ì„±', 'Jupiter': 'ëª©ì„±', 'Saturn': 'í† ì„±', 'Uranus': 'ì²œí™©ì„±', 'neptune': 'í˜œì™•ì„±'}
{'Mercury ìˆ˜ì„±': 1, 'Venus ê¸ˆì„±': 2, 'Earth:ì§€êµ¬': 3, 'Mars í™”ì„±': 4, 'Jupiter ëª©ì„±': 5, 'Saturn í† ì„±': 6, 'Uranus ì²œí™©ì„±': 7, 'neptune í˜œì™•ì„±': 8}

In [ ]:
dict={'a':1,'b':2,'c':3}

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Tuples</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown ğŸ“Œ Assign tuples to variables such as g, h, i.

g = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune") #Names of planets
h = ("ìˆ˜ì„±", "ê¸ˆì„±", "ì§€êµ¬", "í™”ì„±", "ëª©ì„±", "í† ì„±", "ì²œí™©ì„±", "í˜œì™•ì„±" ) #í–‰ì„± ì´ë¦„
i = (1,2,3,4,5,6,7,8,9,10)

print (g)
print(h)
print (i)

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
('ìˆ˜ì„±', 'ê¸ˆì„±', 'ì§€êµ¬', 'í™”ì„±', 'ëª©ì„±', 'í† ì„±', 'ì²œí™©ì„±', 'í˜œì™•ì„±')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Dictionaries</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown ğŸ“Œ Assign dictionary data to variables such as k and m.

k = {'Mercury':'ìˆ˜ì„±', 'Venus':'ê¸ˆì„±', 'Earth':'ì§€êµ¬', 'Mars':'í™”ì„±', 'Jupiter':'ëª©ì„±', 'Saturn':'í† ì„±', 'Uranus':'ëª…ì™•ì„±', 'Neptune':'í•´ì™•ì„±'} #key in English: value in Korean

m = {'Mercury ìˆ˜ì„±':1, 'Venus ê¸ˆì„±':2, 'Earth ì§€êµ¬':3, 'Mars í™”ì„±':4, 'Jupiter ëª©ì„±':5, 'Saturn í† ì„±':6, 'Uranus ëª…ì™•ì„±':7, 'Neptune í•´ì™•ì„±':8} # i) order of planets from the Sun, ii) key in English and Korean, iii) value in integers

print (k)
print (m)

{'Mercury': 'ìˆ˜ì„±', 'Venus': 'ê¸ˆì„±', 'Earth': 'ì§€êµ¬', 'Mars': 'í™”ì„±', 'Jupiter': 'ëª©ì„±', 'Saturn': 'í† ì„±', 'Uranus': 'ëª…ì™•ì„±', 'Neptune': 'í•´ì™•ì„±'}
{'Mercury ìˆ˜ì„±': 1, 'Venus ê¸ˆì„±': 2, 'Earth ì§€êµ¬': 3, 'Mars í™”ì„±': 4, 'Jupiter ëª©ì„±': 5, 'Saturn í† ì„±': 6, 'Uranus ëª…ì™•ì„±': 7, 'Neptune í•´ì™•ì„±': 8}

In [ ]:
#@markdown ğŸ“Œ Print the value of key 'a' ('a' as string data)
dict = {'a':1, 'b':2, 'c':3}
print(k)
print (dict)
print=dict

{'Mercury': 'ìˆ˜ì„±', 'Venus': 'ê¸ˆì„±', 'Earth': 'ì§€êµ¬', 'Mars': 'í™”ì„±', 'Jupiter': 'ëª©ì„±', 'Saturn': 'í† ì„±', 'Uranus': 'ì²œí™©ì„±', 'neptune': 'í˜œì™•ì„±'}
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
dict={'a':1,'b':2,'c':3}

In [ ]:
#@markdown ğŸ“Œ Replacing a value of your dictionary data with another

dict = {'a':1, 'b':2, 'c':3}

print(dict)

dict['a']=7
print (dict)

dict_data = {'c':10, 'b':20, 'a':30}
print(dict_data)
dict_data['a'] = 300
print(dict_data)

{'a': 1, 'b': 2, 'c': 3}
{'a': 7, 'b': 2, 'c': 3}
{'c': 10, 'b': 20, 'a': 30}
{'c': 10, 'b': 20, 'a': 300}

In [ ]:
dict={'a':100,'b':200,'c':300}
print(dict)
dict['a']=7
print(dict)
dict_data={'c':1,'b':2,'a':3}
print(dict_data)
dict_data['c']=10
print(dict_data)

{'a': 100, 'b': 200, 'c': 300}
{'a': 7, 'b': 200, 'c': 300}
{'c': 1, 'b': 2, 'a': 3}
{'c': 10, 'b': 2, 'a': 3}

In [ ]:
dict={'a':1,'b':2,'c':3}
print(dict)
dict['a']=7
print(dict)
dict_data={'c':10,'b':20,'a':30}
print(dict_data)

{'a': 1, 'b': 2, 'c': 3}
{'a': 7, 'b': 2, 'c': 3}
{'c': 10, 'b': 20, 'a': 30}

In [ ]:
dict={'a':1,'b':2,'c':3}
print(dict)
dict['a']=7
print(dict)
dict_data={'c':10,'b':20,'c':30}
print(dict_data)
dict_data['a']=300
print(dict_data)

{'a': 1, 'b': 2, 'c': 3}
{'a': 7, 'b': 2, 'c': 3}
{'c': 30, 'b': 20}
{'c': 30, 'b': 20, 'a': 300}

In [ ]:
dict_data={'c':10, 'b':20, 'a':30}
dict_data['a']=300
print(dict_data)

TypeError: ignored